<form method="post" action="{{ path('admin_user_delete', {'id': user.id}) }}" class="d-inline delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button type="submit" class="btn delete" title="Eliminar">
        <i class="fas fa-trash"></i>
    </button>
</form>