:root {
    --primary: #333333;
    --secondary: #98c46c;
    --tertiary: rgba(51, 51, 51, 0.5);
    --quaternary: rgba(152, 196, 108, 0.5);

    --font-family-base: 'Gotham', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-weight-thin: 100;
    --font-weight-xlight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    --font-weight-ultra: 950;
}

body {
    font-family: var(--font-family-base), sans-serif;
    font-style: normal;
    font-weight: var(--font-weight-regular);
    background-color: #f5f3f0;
    padding-right: 0 !important;
}

.navbar {
    min-height: 10%;
    padding: 0 3%;
    box-shadow: none;
    background-color: var(--secondary);
}

.navbar .right-info {
    margin-left: auto;
    width: fit-content;
}

.navbar .logout {
    display: flex;
}

.navbar .username {
    margin-right: 10px;
}

.navbar .nav-link:hover, .nav-link.active {
    color: var(--primary);
}

.navbar .nav-link:not(.dropdown-toggle):hover::after {
    width: 100%;
    transition: width .5s;
}

.navbar .nav-link:not(.dropdown-toggle)::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    margin-top: 2px;
    background: var(--primary);
}

.navbar .nav-link.active:not(.dropdown-toggle)::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: var(--primary);
}

.navbar .nav-link:focus, .nav-link:target {
    color: var(--primary);
}

.page {
    min-height: 85%;
}

.footer {
    min-height: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
}

.footer div, .footer a {
    color: var(--primary);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 13px;
    width: fit-content;
    font-weight: var(--font-weight-medium);
}

.footer a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.d-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}